body {
  background-color: #883DA4;
}
.img-new {
  width: 521px;
  height: 488px;
  border-radius: 20px;
  z-index: 5;
  display: flex;
  position: relative;
  left: 76px;
  bottom: -148px;
}
.main-section {
  width: 77%;
  height: 79%;
  border-radius: 20px;
  background-color: rgb(46, 204, 113);
  inset: 0px;
  margin: auto;
  position: absolute;
}
#main-row {
  position: relative;
  top: 260px;
  left: -65px;
}
#btn-secc {
  position: relative;
  left: 940px;
  height: 51px;
  width: 200px;
}

.btn-light:hover {
  color: #ffffff;
  background-color: #090a0a;
  border-color: #f9fafb;
}
#main-image{
 background-color: #8A3CA9;
 
}
